<h1>Welcome to Reading Racer!</h1>
<br><br><hr><br><br>
<h2>Choose a Story to Start Reading</h2>
<br><br>

<% @stories.each do |story| %>
  <p class="story-list"><%= link_to story.title, story %>, by <%= story.author %></p>
<% end %>

<br>
<br>
<br>

