
<h2>Test your reading skill and speed. Choose a story below to begin.</h2>
<br><br>

<% @stories.each do |story| %>
  <p class="story-list"><%= link_to story.title, story %> -- <%= story.author %></p>
<% end %>

<br>
<br>
<br>

