<h1>Choose a Story to Read</h1>

<% @stories.each do |story| %>
  <p class="story-list"><%= link_to story.title, story %>, by <%= story.author %></p>
<% end %>

<br>
<br>
<br>

<%= link_to 'New Story', new_story_path %>
