#btn-slug {
  background: #000D5B;
  background: -webkit-linear-gradient(#000DAB, #00010A);
  background: -o-linear-gradient(#000DAB, #00010A);
  background: -moz-linear-gradient(#000DAB, #00010A);
  background: linear-gradient(#000DAB, #00010A);
}

#btn-sloth {
  background: #082AFB;
  background: -webkit-linear-gradient(#082AFB, #021694);
  background: -o-linear-gradient(#082AFB, #021694);
  background: -moz-linear-gradient(#082AFB, #021694);
  background: linear-gradient(#082AFB, #021694);
}

#btn-turtle {
  background: #00648F;
  background: -webkit-linear-gradient(#00648F, #003B54);
  background: -o-linear-gradient(#00648F, #003B54);
  background: -moz-linear-gradient(#00648F, #003B54);
  background: linear-gradient(#00648F, #003B54);
}

#btn-snake {
  background: #009C3F;
  background: -webkit-linear-gradient(#009C3F, #006127);
  background: -o-linear-gradient(#009C3F, #006127);
  background: -moz-linear-gradient(#009C3F, #006127);
  background: linear-gradient(#009C3F, #006127);
}

#btn-lizard {
  background: #0E592C;
  background: -webkit-linear-gradient(#0E592C, #001007);
  background: -o-linear-gradient(#0E592C, #001007);
  background: -moz-linear-gradient(#0E592C, #001007);
  background: linear-gradient(#0E592C, #001007);
}

#btn-mouse {
  background: #9FF930;
  background: -webkit-linear-gradient(#9FF930, #70CC00);
  background: -o-linear-gradient(#9FF930, #70CC00);
  background: -moz-linear-gradient(#9FF930, #70CC00);
  background: linear-gradient(#9FF930, #70CC00);
}

#btn-rabbit {
  background: #E9D50C;
  background: -webkit-linear-gradient(#E9D50C, #6D6300);
  background: -o-linear-gradient(#E9D50C, #6D6300);
  background: -moz-linear-gradient(#E9D50C, #6D6300);
  background: linear-gradient(#E9D50C, #6D6300);
}

#btn-dog {
  background: #FF8700;
  background: -webkit-linear-gradient(#FF8700, #9B5200);
  background: -o-linear-gradient(#FF8700, #9B5200);
  background: -moz-linear-gradient(#FF8700, #9B5200);
  background: linear-gradient(#FF8700, #9B5200);
}

#btn-horse {
  background: #9F5400;
  background: -webkit-linear-gradient(#9F5400, #502A00);
  background: -o-linear-gradient(#9F5400, #502A00);
  background: -moz-linear-gradient(#9F5400, #502A00);
  background: linear-gradient(#9F5400, #502A00);
}

#btn-cheetah {
  background: #F53B0F;
  background: -webkit-linear-gradient(#F53B0F, #761700);
  background: -o-linear-gradient(#F53B0F, #761700);
  background: -moz-linear-gradient(#F53B0F, #761700);
  background: linear-gradient(#F53B0F, #761700);
}

#btn-peregrine-falcon {
  background: #903E2A;
  background: -webkit-linear-gradient(#903E2A, #430D00);
  background: -o-linear-gradient(#903E2A, #430D00);
  background: -moz-linear-gradient(#903E2A, #430D00);
  background: linear-gradient(#903E2A, #430D00);
}

#btn-read-manually, #btn-Read-manually {
  background: #E3E2E2;
  background: -webkit-linear-gradient(#E3E2E2, #565656);
  background: -o-linear-gradient(#E3E2E2, #565656);
  background: -moz-linear-gradient(#E3E2E2, #565656);
  background: linear-gradient(#E3E2E2, #565656);
}
