#btn-slug {
  background: #000D5B;
}

#btn-sloth {
  background: #082AFB;
}

#btn-turtle {
  background: #00648F;
}

#btn-snake {
  background: #009C3F;
}

#btn-lizard {
  background: #003D19;
}

#btn-mouse {
  background: #89F800;
}

#btn-rabbit {
  background: #BBAA00;
}

#btn-dog {
  background: #FF8700;
}

#btn-horse {
  background: #9F5400;
}

#btn-cheetah {
  background: #C42500;
}

#btn-peregrine-falcon {
  background: #430D00;
}

#btn-read-manually {
  background: #555555;
}
