// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
  text-align: center;
}

button {
  font-size: 1.1em;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  color: white;
}

#start-story {
  background: black;
}

#stop-story {
  background: red;
}

#read-slow {
  background: green;
}

#read-medium {
  background: blue;  
}

#read-fast {
  background: orange;  
}

.reading-pane {
  margin-bottom: 75px;
  margin-top: 75px;
  text-align: center;  
}

.story-text {
  display: inline-block;
  min-width: 700px;
  font-size: 200%;
  padding: 40px;
  margin: 20px;
  border: 2px solid red;
  border-radius: 60px;
}

.content {
  display: none;
}
