// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #F5F5F5;
  background: image-url('school.png');
}

div#container {
  background: #F0F0F0;
  background: rgba(255,255,255,0.4);
  margin: 30px auto;
  max-width: 800px;
  padding: 10px 45px 10px 45px;
  border-radius: 75px;  
}

h1 {
  text-align: center;
  color: #FF0000;
  font-size: 4em;
}

h1#title {
  font-family: 'Trade Winds', cursive;
  text-shadow: 4px 3px #000000;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  color: #333333;
  
}

a {
  text-decoration: none;
  color: #0000C0;
}

a:visited {
  color: #8214FF;
}

button {
  font-size: 1.1em;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  color: #FFFFFF;
}

.controls {
  width: 700px;
  margin: 0 auto;
}

#start-story {
  background: #555555;
}

#stop-story {
  background: #AAAAAA;
  display: none;
}

#next-line {
  background: green;
  color: yellow;
  display: none;
  float: right;
}

#last-line {
  background: green;
  color: yellow;
  display: none;
  float: left;
}

#speed-blurb {
  font-size: 1.5em;
  color: red;
}

.reading-pane {
  margin-bottom: 75px;
  margin-top: 25px;
  text-align: center;  
}

.story-text {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  min-width: 700px;
  font-size: 1.9em;
  padding: 40px;
  margin: 30px 10px 80px 10px;
  border: 4px groove #FF2222;
  border-radius: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(170,170,170,1);
  -moz-box-shadow: 5px 5px 5px 5px rgba(170,170,170,1);
  box-shadow: 5px 5px 5px 5px rgba(170,170,170,1);
  }

.content {
  display: none;
}

.story-list {
  margin-left: 25px;
  font-size: 1.3em;
  text-align: center;
}
